<!-- help-center.component.html -->
<div class="container-fluid p-3">
  <!-- Header -->
  <div class="d-flex align-items-center mb-3">
    <igx-icon fontSet="material" class="me-2" (click)="goBack()" role="button">arrow_back</igx-icon>
    <h5 class="mb-0 text-center flex-grow-1">Help Center</h5>
  </div>

  <!-- Help Items -->
  <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action d-flex align-items-center">
      <div class="rounded-circle d-flex align-items-center justify-content-center me-3" style="background-color: #60a5fa; width: 50px; height: 50px;">
        <igx-icon fontSet="material" class="text-white">help_outline</igx-icon>
      </div>
      <span class="flex-grow-1">App usage problem</span>
      <igx-icon fontSet="material">chevron_right</igx-icon>
    </a>

    <a href="#" class="list-group-item list-group-item-action d-flex align-items-center">
      <div class="rounded-circle d-flex align-items-center justify-content-center me-3" style="background-color: #38bdf8; width: 50px; height: 50px;">
        <igx-icon fontSet="material" class="text-white">build_circle</igx-icon>
      </div>
      <span class="flex-grow-1">Features</span>
      <igx-icon fontSet="material">chevron_right</igx-icon>
    </a>

    <a href="#" class="list-group-item list-group-item-action d-flex align-items-center">
      <div class="rounded-circle d-flex align-items-center justify-content-center me-3" style="background-color: #a78bfa; width: 50px; height: 50px;">
        <igx-icon fontSet="material" class="text-white">home_repair_service</igx-icon>
      </div>
      <span class="flex-grow-1">Lock installation</span>
      <igx-icon fontSet="material">chevron_right</igx-icon>
    </a>

    <a href="#" class="list-group-item list-group-item-action d-flex align-items-center">
      <div class="rounded-circle d-flex align-items-center justify-content-center me-3" style="background-color: #facc15; width: 50px; height: 50px;">
        <igx-icon fontSet="material" class="text-dark">warning</igx-icon>
      </div>
      <span class="flex-grow-1">Normal trouble shooting</span>
      <igx-icon fontSet="material">chevron_right</igx-icon>
    </a>
  </div>
</div>
